GRPC_LISTEN_PORT=8080

POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# Users PostgreSQL
USERS_POSTGRES_DB=users_db
USERS_POSTGRES_HOST=users-postgresql
USERS_POSTGRES_USER=postgres
USERS_POSTGRES_PASSWORD=secret
USERS_PGDATA=/var/lib/postgresql/data/users

# Chat PostgreSQL
CHAT_POSTGRES_DB=chat_db
CHAT_POSTGRES_HOST=chat-postgresql
CHAT_POSTGRES_USER=postgres
CHAT_POSTGRES_PASSWORD=secret
CHAT_PGDATA=/var/lib/postgresql/data/chat

# Social PostgreSQL
SOCIAL_POSTGRES_DB=social_db
SOCIAL_POSTGRES_HOST=social-postgresql
SOCIAL_POSTGRES_USER=postgres
SOCIAL_POSTGRES_PASSWORD=secret
SOCIAL_PGDATA=/var/lib/postgresql/data/social

# Notification PostgreSQL
NOTIFICATION_POSTGRES_DB=notification_db
NOTIFICATION_POSTGRES_HOST=notification-postgresql
NOTIFICATION_POSTGRES_USER=postgres
NOTIFICATION_POSTGRES_PASSWORD=secret
NOTIFICATION_PGDATA=/var/lib/postgresql/data/notification

# Kafka
KAFKA_BROKERS=kafka:29092
KAFKA_SOCIAL_FRIEND_REQUEST_TOPIC_NAME=social.friend.request
KAFKA_SOCIAL_FRIEND_UPDATED_TOPIC_NAME=social.friend.updated
KAFKA_CHAT_MESSAGE_SENT_TOPIC_NAME=chat.message.sent

# Notification Service
KAFKA_CONSUMER_GROUP=notification-inbox-consumer-group
KAFKA_CONSUMER_NAME=notification-service-1